.container-main main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 20px;
}

.container-main h2 {
    margin-bottom: 10px;
}

.container-main h3 {
    line-height: 1.4;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.container-main img {
    border-radius: 30px;
    margin-top: 12px;
    object-fit: cover;
    height: 400px;
    width: 100vw;
}